@charset "utf-8";

/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#player{
    margin-top: var(--gridwidth);
    width:100%;
    height:480px;
    max-width:1080px;
}
:root {
    /*Brand Colors*/
    --foreground: #ed7a0a;
    --midground: #F7D7A8;
    --background: #f6ecdc;
    --active:#0E8D93;
    --hoverbg:#f6ecdc;
    --hovertext:#ed7a0a;

    /*Font Sizes*/
    --multiplier:1.5;
    --pSize:calc(16px * var(--multiplier));
    --h1Size:calc(20px * var(--multiplier));
    --h3Size:calc(18px * var(--multiplier));

    /*Other Properties*/
    --boxShadow:2px 2px 10px rgba(0, 0, 0, 0.25);
    --borderRadius: 12px;

    /*Grid Widths*/
    --wrapWidth:1080px;
    --closewidth: 10px;
    --gridwidth: 30px;
}
@font-face {
	font-family: 'angleterre-book';
	src: url('fonts/angltrr.ttf') format('truetype');
}
@font-face {
	font-family: 'espresso-dolce';
	src: url('fonts/espresso-dolce.ttf') format('truetype');
}
img {
    width: 100%;
    height: auto;
    max-width: 1400px;
}
ol, ul{
    margin-left: 35px;
}
.container ul{
    margin:0;
}
h1{
    font-family: "espresso-dolce", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size:var(--h1Size);
    margin:0px;
}
h3{
    font-family: "espresso-dolce", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size:var(--h3Size);
}
p{
    font-family: "angleterre-book", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: var(--pSize);
    font-style: normal;
}
li{
    font-family: "angleterre-book", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: var(--pSize);
    font-style: normal;
}
@media screen and (orientation:landscape){
    h1{
        font-family: "espresso-dolce", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        margin:0px;
    }
    h3{
        font-family: "espresso-dolce", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    }
    p{
        font-family: "angleterre-book", serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
    }
}
.index h1{
    margin: 0 0 var(--closewidth) 0;
}
a{
    font-family: "espresso-dolce", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    color:var(--background);
    width:100%;
}
.wrapper{
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-content: center;
}
.d-logo{
    display:none;
}
/*Begin Navbar*/

.navbar{
    background-color: var(--midground);
    box-shadow: var(--boxShadow);
}
.nav{
    padding:var(--gridwidth);
    display: flex;
    flex-direction: column;
    align-items:center;
}
.logo{
    display:flex;
    padding-bottom: var(--gridwidth);
}
.logo, .d-logo{
    margin:0 auto;
    width:100%;
    max-width:300px;
    justify-content:center;
    padding: 0 0 var(--gridwidth) 0;
}
.d-logo{
    max-width:400px;
}
.listitems{
    border-radius: var(--borderRadius);
    margin: 0 auto;
    max-width: var(--wrapWidth);
    width:100%;
    list-style: none;
    height: 175px;
    max-height:350px;
}
li.links{
    display:flex;
    justify-content: center;
    align-items:center;
    margin-bottom: var(--closewidth);
}
li.links a, .button a{
    font-size: var(--h1Size);
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    padding:10px 2vw;
    text-align: center;
    background-color: var(--foreground);
    border-radius: var(--borderRadius);
    color: var(--background);
    box-shadow: var(--boxShadow);
}
li.links a:hover, .button a:hover{
    background-color: var(--hoverbg);
    color: var(--hovertext);
}
li.links.active a{
    background-color: var(--active);
    color:var(--background);
}
@media screen and (min-width:545px){
    .d-logo{
        display:flex;
        padding:var(--gridwidth);
    }
    .logo{
        display:none;
    }
    .listitems{
        display:flex;
        flex-direction: row;
        height:auto;
        justify-content: space-around;
        margin:0;
    }
    li.links{
        width: 25vw;
        max-width:250px;
    }
    li.links a, .button a{
        width:100%;
        height:100%;
        padding:10px 0;      
    }
    .nav{
        padding: var(--gridwidth);
    }
}
/*end Navbar*/
.main{
    min-height:100vh;
}
.main, .listitems, .footer-div{
    margin: 0 auto;
    width:100%;
    padding: 0 var(--gridwidth);
    max-width: var(--wrapWidth);
    text-align: center;
}
@media screen and (min-width:545px){
    .main, .listitems, .footer-div{
        max-width:var(--wrapWidth);
        margin:0 auto;
    }
}
/*videotron is in plyr-video.css*/
/*about book home*/
.text-button{
    display: flex;
    flex-direction: column;
    margin-bottom: var(--gridwidth);
}
.text-group{
    margin-bottom: var(--closewidth);
}
.text-group h1{
    text-align: center;
}
.about-book-home{
    padding: var(--gridwidth) 0 0 0;
    display:flex;
    flex-direction: column;
}
.button-group{
    margin:0 auto;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.button-group.bg1.index{
    margin-top:var(--closewidth);
    height:110px;
}
.button-group a{
    width:100%;
}
.button{
    margin:0 auto;
    border: none;
    width:100%;
    padding:10px 0px;
    text-align: center;
    background-color: var(--foreground);
    box-shadow: var(--boxShadow);
    color: var(--background);
    font-size: var(--h3Size);
    font-family:'espresso-dolce', sans-serif;
    border-radius: var(--borderRadius);
}
.button:hover{
    background-color: var(--hoverbg);
    color: var(--hovertext);
}
@media screen and (min-width:545px){
    .button{
        width:100%;
        max-width:240px;
    }
    .button-group{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .button-group.index{
        margin: var(--closewidth) 0 0 0;
    }
    .button-group.bg1.index{
        height:auto;
        
    }
} 
/*about author home*/
.about-author-home{
    display:flex;
    flex-direction: column;
    padding: 0 0 var(--gridwidth) 0;
}
.midground{
    background-color: var(--midground);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:var(--gridwidth);
    padding-top: 60px;
    height:100%;
}
.midground img{
    width:75vw;
    max-width:960px;
}
@media (orientation:landscape){
    .about-author-home {
        flex-direction: row;
    }
    .midground{
        margin-left: var(--gridwidth);
        margin-top: 0;
    }
    .midground img{
        width:25vw;
        max-width:470px;
    }
    .text-group.tg2.index{
        margin:0;
    }
}

/*about bible study home*/
.about-bible-study-home{
    display: flex;
    flex-direction: column;
}
.svg1{
    margin:0 auto;
    width:50%;
    max-width:200px;
    height:auto;
}
@media (orientation:landscape){
    .tg3.index{
        margin:0 var(--gridwidth) 0 0;
    }
    .button-group.bg3.index{
        margin:var(--closewidth) 0 0 0;
    }
}
/*footer*/
.footer{
    background-color: var(--midground);
    height:auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-div{
    display:flex;
    flex-direction: column;
}
#copy{
    text-align:ccenter;
    padding:var(--gridwidth) 0 0 0;
}
.legal-div{
    padding:var(--gridwidth) 0;
}
@media screen and (orientation:landscape){
    .footer-div{
        flex-direction: row;
        justify-content: space-between;
    }
    #copy{
        text-align:left;
    }
    .legal-div a .button{
        width:300px;
        padding:10px;
    }
}
/*contact author*/
.contact-author{
    display: flex;
    margin: var(--gridwidth) 0 var(--closewidth) 0;
    flex-direction: column;
    align-items: center;

}
.midground.author{
    padding:var(--gridwidth);
    margin:0;
    width:100%;
}
.midground.author img{
    max-width:982px;
}
.text-group.author{
    width:100%;
}
.text-group.contact-author.author{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0;
}
.text-group.author h1{
    margin:var(--gridwidth) 0 var(--closewidth) 0;
}
.text-group-subtext.author {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:405px;
}
.sub-text{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 var(--closewidth) 0;
}
.sub-text h3{
    margin-right:var(--gridwidth);
    text-align: right;
}
.sub-text p{
    text-align: left;
}
.bg1.author{
    width:100%;
    margin:0 0 var(--gridwidth) 0;
}
.bg1.author a{
    width:90vw;
    margin-bottom: var(--closewidth);
}
@media screen and (orientation:landscape){
    .contact-author{
        flex-direction: row;
    }
    .bg1.author{
        height:auto;
    }
    .bg1.author a{
        width:300px;
    }
    .midground.author{
        margin: 0;
        width:auto;
    }
    .midground.author img {
        max-width: 520px;
    }
    .sub-text h3{
        width:80px;
        text-align: left;
    }
    .sub-text p{
        width:300px;
    }
}
/*about author*/
hr{
    margin:var(--gridwidth) 0;
}
.text-image.author{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.text-image.author img{
    width:70px;
    height:auto;
    margin:0 auto;
}
.midground.mg2.author, .text-group.about.author p{
    text-align: left;
}
.about.author h1{
    margin:0 0 var(--closewidth) 0;
    text-align: center;
}
.about.author.studies h1, .lectureships.author h1, .about.author h3{
    margin: var(--gridwidth) 0 var(--closewidth) 0;
}
.about.author.studies h1, .lectureships.author h1{
    text-align: center;
}
.text-group.studies.author h3, .text-group.lecture.author h3{
    margin: var(--closewidth) 0;
    text-align:center;
}
.about.author ul{
    margin-bottom: var(--gridwidth);
}
.mg2.author{
    margin-top:0;
    padding: 0 var(--gridwidth);
}
.place-year.author{
    display:flex;
    flex-direction: row;
    justify-content: space-around;

}
.text-group.about.author p{
    width: 100%;
    text-align: left;
    margin: 0 0 var(--closewidth) 0;
    padding:0px;
}
.lectureships.author{
    margin:0 0 var(--gridwidth) 0;
}
@media screen and (min-width:780px){
    .place-year.author p{
        width: 300px;
    }
    .text-image.author{
        flex-direction: row;       
    }
    .text-image.author img{
        margin:0;
    }
    .text-group.studies.author, .text-group.lecture.author{
        margin: 0 0 0 var(--closewidth);
    }
    .text-group.about.lecture.author{
        margin-bottom: var(--gridwidth);
    }
    .text-group.studies.author h3, .text-group.lecture.author h3{
        text-align:left;
    }
}
/*About Book*/
.container {
    position: relative;
    margin: var(--gridwidth) 0;
}

.img-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    left: 0%;
}

.slide {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: left;
    list-style-type: none;
    transition: all 0.5s ease;
}
#prev, #next{
    display: absolute;
    text-align:center;
    padding:7px;
}
#prev {
    left: 0;
}
#next {
    right: 0;

}
#prev i, #next i {
    text-align:center;
    font-size: 2em;
    color: var(--foreground);
    cursor: pointer;
    background-color: var(--background);
    border-radius: 50%;
}

#prev, 
#next {
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    z-index: 9999;
    display: inline-block;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    background-position: center center;
    background-repeat:no-repeat;
    transition: all .3s ease-in;
}
 .midground.mg1.book{
    margin:0 0 0 0;
    padding:0 var(--gridwidth) var(--gridwidth) var(--gridwidth);
}
.midground.book img{
    width: 100%;
    height: auto;
    margin-right:var(--gridwidth);
}
.text-group.book h1{
    margin:var(--gridwidth) 0 var(--closewidth) 0;
}
.text-group.tg1{
    margin:0px;
}
.tg2.book ol{
    margin: 0 0 var(--gridwidth) 35px;
    width:92%;
}
.tg2.book ol li{
    margin-top:var(--closewidth);
}
ol.book li h3, ol.book li p{
    text-align: left;
}
@media screen and (orientation:landscape){
    .tg1.book{
        margin-left:0;
    }
    .tg2.book ol{
        width: 97%;
    }
    .tg2.book ol h3{
        margin:var(--closewidth) 0 0 0;
    }
}
/*Legal Page*/
.button-nav.legal{
    display:flex;
    flex-direction: column;
    width:100%;
    margin:var(--gridwidth) 0 0 0;
}
a.bn2 .button.legal{
    margin-left:15px;
    width:calc(100% - 15px);
}
a .button.legal{
    margin:0px;
    width:100%;
    box-shadow: none;
    padding:5px;
}
.button-nav.legal a{
    height:100%;
    border-radius: var(--borderRadius);
}
.button-nav.legal a.active .button.legal{
    background-color: var(--active);
    color: var(--background);
}
a.b4.bn1.active .button.legal{
    border-width: 0px 15px;
    border-style: solid;
    border-color: var(--midground);
}
a.b1.bn2.active .button.legal, a.b2.bn2.active .button.legal{
    border-left: 15px solid var(--midground);
    background-color: var(--active);
}
.hide{
    display:none;
}
.button-nav.legal.bottom-marg{
    margin-bottom:200px;
}
@media screen and (min-width:545px){
    .button-nav.legal a{
        margin:0 5px;
    }
    .button-nav.legal{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 100px;
        max-height:330px;
        display:flex;
        align-items: center;
        margin-bottom:100px;
    }
    a.bn2 .button.legal{
        margin-left:0px;
        width:100%;
        flex:50%;
    }
    a .button.legal{
        width:100%;
        height:100%;
        display:flex;
        justify-content: center;
        align-items: center;
        padding:10px;
        flex:33.33%;
        max-width:none;
        margin-bottom:15px;
        font-size:2.9vw;
    }
    a.b4.bn1.active .button.legal{
        border-style: none;
    }
    a.b1.bn2.active .button.legal, a.b2.bn2.active .button.legal{
        border-left: none;
    }
}
a.b1.bn1{
    order:1;
    flex-grow:2;
}
a.b2.bn1{
    order:2;
    flex-grow:2;
}
a.b3.bn1{
    order:3;
    flex-grow:2;
}
a.b4.bn1{
    order:4;
    flex-grow:2;
}
a.b1.bn2{
    order:6;
    flex-grow:2;
}
a.b2.bn2{
    order:7;
    flex-grow:2;
}
a.b1.bn1.legal-flex, a.b2.bn1.legal-flex, a.b3.bn1.legal-flex, a.b4.bn1.legal-flex{
    order:5;
    flex:100%;
    flex-grow:9;
}
@media screen and (min-width:1019px){
    a .button.legal{
        font-size: var(--h1Size);
    }
}