@charset "utf-8";
/* CSS Document */
* {
    box-sizing: border-box;
}
.hide {
    display:none;
}
.row:after {
    content: "";
    clear: both;
    margin:auto;
    display: block;
}
/* For mobile phones: */
[class*="col-"] {
    float: left;
    padding: 15px;
	width: 100%;
}
/* For tablets: */
@media only screen and (min-width: 720px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
/* For desktop: */
@media only screen and (min-width: 1200px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
body{
    padding:0px;
    margin:0px;
    font-family:"Georgia",serif;
    font-size:1.2em;
    background-color:rgba(27,91,126,1.00);
}

img{
    width:100%;
    height:auto;
}
a{
    text-decoration:none;
    color:rgba(255,255,255,1.00);
}
h1{
    text-align:center;
    color:rgba(255,242,153,1.00);
    text-shadow: 3px 3px 10px rgba(0,0,0,1.00);
}
p{
    text-align:left;
    color:rgba(255,255,255,1.00);
    text-shadow: 0px 0px 5px rgba(0,0,0,1.00);
}
.d-header{
    position:relative;
    display:none;
    height:2680px;
}
.aboveband{
    height:100px;
}
.main-nav{
    position:absolute;
    top:0px;
    width:100%;
	text-align:center;
	z-index: 200;
}
.d-logo{
    width:100px;
	height:100px;
	background-color:rgba(255,0,0,1.00);
}
.header-t-row{
    position:absolute;
    top:200px;
    left:0px;
    display:block;
    z-index:3000px;
    height:20px;
}
.header-t-row{
    clear:both;
}
.header-text{
    padding:20px;
    text-align:center;
    color:rgba(255,255,255,1.00);
    z-offset:200;
    background-color:rgba(27,91,126,0.60);
    box-shadow:5px 5px 5px 5px rgba(10,10,10,0.60);
    margin:30px 0px;
}
.book{
    height:500px;
    background-color:rgba(255,0,0,1.00);
}
.booktext p{
    text-align:left;
}
/*mobile navigation*/
.logo{
    position:relative;
    float:left;
    display:block;
    width:100px;
    height:100px;
    background-color:red;
}
.icon{
    float:right;
    width:100px;
    height:100px;
    background-color:red;  
}
.image-jumbo{
    width:100%;
    padding:0px;
    margin:0px;
}
.m-header{
    position: relative;
    width: 100%;
    background-color:rgba(160,221,136,0.60);
    padding:0px;
} 
/* Nav menu */
.nav{
    display:none;
}
.tab{
    display: none;
}

/* Style the navigation menu */
.topnav {
    position:absolute;
    top:0px;
    left:0px;
    margin:10px;
    width:97%;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
    position:absolute;
    top:100px;
    right:0px;
    z-index: 300;
    width:100%;    
}
.menu-item{
    float: right;
    margin:0px 10px;
    width:400px;
    padding:10px;
    border-radius:10px;
    background-color:rgba(27,91,126,0.60);
    box-shadow:5px 5px 5px 5px rgba(10,10,10,0.60);
    
}
.menu-item:hover{
    background-color:rgba(255,242,153,1.00);
    box-shadow:0px 0px 10px 10px rgba(255,242,153,1.00);
    
}
.menu-item a:hover{
    color:rgba(0,26,255,1.00);
}
/* Style navigation menu links */
.topnav #myLinks a {
    margin:20px;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
.topnav #myLinks a h3{
    margin:0px;
}
/* Style the hamburger menu */
.topnav #myLinks a{
    background-color:rgba(27,91,126,0.60);
    color:rgba(255,255,255,1.00);
    box-shadow:5px 5px 5px 5px rgba(10,10,10,0.60);
}
/* Add a grey background color on mouse-over */
.topnav .mylinks a:hover {
    background-color: #ddd;
    color: black;
}
.phone{
    display:none;
}
@media only screen and (min-width:720px){
    .d-header{
        display:block;
        height:2000px;
    }
    .phone{
        display:block;
    }
    .menu-item{
        font-size:1.1em;
        width:220px;
    }
    .d-logo{
        display:block;
    }
    .m-header{
        display:none;
    }
}
@media only screen and (min-width:870px){
   .tab{
        display:block;
    }
    .phone{
        display:none;
    }
    .menu-item{
        font-size:1.3em;
        width:250px;
    }
}
@media only screen and (min-width:1200px){
    .tab{
        display:block;
    }
    .phone{
        display:none;
    }
    .menu-item{
        font-size:2.0em;
        width:400px;
    }
}
/*end navigation*/
.about-john{
    padding:30px;
}
.main{
   position:absolute;
    top:00px;
    left:0px;
    width:100%;
}
.yellow{
    background-color:rgba(255,242,153,1.00);
    box-shadow:5px 5px 5px 5px rgba(10,10,10,0.60);
    
}
.yellow h1{
    color:rgba(0,0,0,1.00);
}
.john-pic{
    margin:auto;
    text-align:center;
    width:100%;
    height:700px;
    background-color:rgba(255,0,4,1.00);
}
.blue-overlap{
    position:absolute;
    top:1250px;
    left:0px;
    width:100%;
    height:1400px;
    z-index: 1000px;
    background: rgb(27,91,126);
    background: linear-gradient(0deg, rgba(27,91,126,1) 97%, rgba(0,0,0,0) 100%);
}
.social{
    text-align:center;
}
.button{
    padding:10px;
    text-align:center;
    background-color:rgba(95,173,216,1.00);
    box-shadow:5px 5px 5px 5px rgba(10,10,10,0.60);
}
.button:hover{
    background-color:rgba(255,242,153,1.00);
    box-shadow:0px 0px 10px 10px rgba(255,242,153,1.00);
    color:rgba(0,26,255,1.00);
}

@media only screen and (min-width:400px){
    .blue-overlap{
        top:1400px;
    }
    .main{
        top:00px;
    }
}
@media only screen and (min-width:620px){
    .blue-overlap{
        top:1300px;
    }
    .main{
        top:00px;
    }
}
@media only screen and (min-width:720px){
     .john-pic{
        width:100%;
        height:600px;
    }
    .blue-overlap{
        top:1400px;
    }
    .main{
        top:00px;
    }
}
@media only screen and (min-width:870px){
    .blue-overlap{
        top:1270px;
    }
    .main{
        top:00px;
    }
}
@media only screen and (min-width:1200px){
    .main{
        top:100px;
    }
    .blue-overlap{
        top:900px;
        height:1200px;
    }
    .john-pic{
        width:275px;
        height:275px;
    }
}